<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Stylesheet</title>
<style>
    div#container {}
p {


}
#p1 {
  background-color: #CAF0F8;
  border: solid #03045E;
  font-family: Helvetica;

 
}

  
  /********** Base styles **********/
* {
  box-sizing: border-box;
  height: 150px;

}
h1 {
  margin-bottom: 15px;
  font-family: Helvetica;
  font-size: 1.5em;
  text-align: center;
}


/* Simple Responsive Framework. */
.row {
  width: 100%;

}


 </style>
</head>
</html>
