<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Stylesheet</title>
<style>
    div#container {}
    p {
}
#p1 {
  background-color: #F6CEF5;
  border: solid #8A0868;
  height: 250px;    
}
</style>
</head>
</html>
