<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Stylesheet</title>
<style>
    div#container {}
}
#p1 {
  background-color: #F6CEF5;
  border: solid #8A0868;
 }
  
  /********** Base styles **********/
* {
  box-sizing: border-box;
  height: 250px;
}



/* Simple Responsive Framework. */
.row {
  width: 100%;

}


 </style>
</head>
</html>
